<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin 2</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/assets/admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/assets/admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="/assets/admin/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/assets/admin/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/assets/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--Code syntaxhighlight-->
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shCore.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushA3.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushColdFusion.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushCpp.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushCSharp.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushDelphi.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushDiff.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushErlang.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushGroovy.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushJavaFX.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushPerl.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushPowerShell.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushRuby.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushScala.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushVb.js"></script>
    <script type="text/javascript" src="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/scripts/shBrushXml.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/styles/shCore.css" />
    <link type="text/css" rel="stylesheet" href="/assets/admin/js/plugins/ckeditor/plugins/syntaxhighlight/styles/shThemeDefault.css" />
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>
    <!-------------------------------------------------------------------------------------------->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
       @RenderPage("_Navigation.cshtml")
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">@RenderSection("header", required:true)</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                @if (TempData["AlertMessage"] != null)
                {
                    <div id="AlertBox" class="alert @TempData["AlertType"] hiden">
                        @TempData["AlertMessage"]
                    </div>
                }
                
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/assets/admin/vendor/jquery/jquery.min.js"></script>

    <script src="/assets/admin/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="/assets/admin/js/plugins/ckfinder/ckfinder.js"></script>

    <script src="/assets/admin/dist/js/bootstrapValidator.js"></script>
    <script src="/assets/admin/dist/js/bootstrapValidator.min.js"></script>
    <script src="/assets/admin/dist/css/bootstrapValidator.min.css"></script>
    <script src="/assets/admin/dist/css/bootstrapValidator.css"></script>

    <script src="/assets/admin/js/validate-form.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/admin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/assets/admin/dist/js/sb-admin-2.js"></script>
    <script src="/assets/admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/assets/admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/assets/admin/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/assets/admin/vendor/bootstrap/js/bootbox.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/admin/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
    @RenderSection("jsFooter",required: false)
</body>
</html>
